<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.mapper.UserPassportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liepin.pojo.UserPassport">
        <id column="id" property="id" />
        <result column="imooc_user_id" property="imoocUserId" />
        <result column="password" property="password" />
        <result column="end_date" property="endDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imooc_user_id, password, end_date
    </sql>

</mapper>
